@* @using thuongmaidientus1.ViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
</head>
<body>

    <div style="width: 100%; background-image: url('https://4.bp.blogspot.com/-Tw7GcaZaM8Y/VvAQbOdZi7I/AAAAAAAAAac/ohZQf1brXK8RXynPzMIkthitiVkb654dw/s640/hinh-nen-may-tinh-dep-nhat-05.jpg'); background-size: cover; background-repeat:no-repeat; height: 500px; text-align: center; padding: 60px 0;">
        <div>
            <h1>Đơn hàng của bạn đã bị do một số lý do</h1>
        </div>
    </div>
</body>
</html> *@

<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
    <style>
        .email-container {
            width: 100%;
            height: 500px;
            text-align: center;
            padding: 60px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
    <div class="email-container">
        <div class="email-content">
            <h1>YGJ</h1>
            <h2>Your order has been delayed due to some reasons. We hope you can understand the inconvenience. Please return to the website or contact management for more details</h2>
        </div>
    </div>
</body>
</html>
