.ant-layout{
    background: #fff;
}
.steps-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ant-steps {
    width: 100%; /* Adjust as needed */
}

.ant-steps-item {
    flex: 1; /* Allow items to grow and take up more space */
}

.ant-steps-item-content {
    max-width: 300px; /* Increase width if needed */
}
